.main-header {
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d6e0f0;
    height: 4rem;
    width: 100%;
}

.logo {
    height: 100%;
    width: 64px;
}

.logo-text {
    position: absolute;
    font-style: italic;
    font-family: Sacramento;
    font-size: 2rem;
    bottom: 1px;
    left: 50px;
    color: rgb(0, 166, 156)
}

.search {
    margin-left: 70px;
}

nav {
    transition: 0.3s;
}

.navbar-icon:hover {
    transform: scale(1.1, 1.1);
    color: #8d93ab;
}

.navbar-icon {
    font-size: 40px;
    margin-right: 10px;
    color: rgb(0, 166, 156)
}

.menu-btn {
    margin-left: 10px;
    display: none;
    position: absolute;
    cursor: pointer;
    text-shadow: 0px 0px 2px grey;
}

@media (max-width: 700px) {
    .menu-btn {
        display: block;
    }
    .logo {
        margin-left: 50px;
    }
    .logo-text {
        left: 100px;
    }
}

@media (max-width: 700px) {
    nav {
        position: absolute;
        z-index: 3;
        padding: 10px 10px;
        top: 0px;
        left: 55px;
        background-color: #d6e0f0;
        transform: translateX(-130%)
    }
}