@import '/css/keep/keep.css';
@import '/css/keep/cmps/keep-addnote.css';
@import '/css/keep/cmps/keep-notes-preview.css';
@import '/css/keep/cmps/keep-sidebar.css';
@import '/css/keep/cmps/keep-controls.css';
@import '/css/keep/cmps/keep-colorpalette.css';
@import '/css/keep/cmps/keep-labeleditor.css';
* {
    box-sizing: border-box;
    margin: 0;
}

@import 'mail/mail.css';
body {
    background-color: lightblue;
}

.main-header {
    background-color: aqua;
    height: 4rem;
    width: 100%;
}

main {
    height: calc(100vh - 4rem);
    background-color: beige;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}