@import 'home.css';
@import 'keep/keep.css';
@import 'keep/cmps/keep-addnote.css';
@import 'keep/cmps/keep-notes-preview.css';
@import 'keep/cmps/keep-sidebar.css';
@import 'keep/cmps/keep-controls.css';
@import 'keep/cmps/keep-colorpalette.css';
@import 'keep/cmps/keep-labeleditor.css';
@import 'keep/cmps/keep-notedetails.css';
@import 'mail/mail.css';
@import 'mail/upper-control.css';
@import 'mail/cmps/mail-details.css';
@font-face {
    font-family: Roboto-light;
    src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-medium;
    src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-bold;
    src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-regular;
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-black;
    src: url(../assets/fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/MaterialIcons-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto-regular;
}

@import 'mail/mail.css';
body {
    background-color: #f1f3f8;
}

.main-header {
    position: fixed;
    top:0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d6e0f0;
    height: 4rem;
    width: 100%;
}

main {
    margin-top: 4rem;
    /* disabled to check if no need for height because it is in flex */
    /* min-height: calc(100vh - 4rem); */
    display: flex;
    flex-direction: column;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.active {}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.notify {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 5;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgb(67, 64, 255);
    color: white;
    transform: translateY(100%);
    opacity: 0;
    transition: 0.5s;
}

.notify.shown {
    transform: translateY(0);
    opacity: 1;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}