@import '/css/keep/keep.css';

* {
    box-sizing: border-box;
    margin: 0;
}

@import 'mail/mail.css';

body {
    background-color: lightblue;
}

.main-header {
    background-color: aqua;
    height: 4rem;
    width: 100%;
}

main {
    height: calc(100vh - 4rem);
    background-color: beige;
}


