.keep-container {
    display: flex;
    min-height: 100%;
}

.keep-main-area {
    margin: auto;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    max-width: 1200px;
}