.detail-container {
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.247);
    backdrop-filter: blur(3px);
    transition: 0.3s;
}

.note-details {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 330px;
    max-width: 80vw;
    min-height: 300px;
    z-index: 11;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    transition: 0.3s;
}