.add-note {
    position: relative;
    display: flex;
    margin: 20px 10vw;
    padding: 10px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.30);
}

.add-btn:hover {
    transform: scale(1.1, 1.1);
    color: #8d93ab;
}

.add-btn {
    cursor: pointer;
    transition: 0.2s;
}

.add-note-icons {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.add-note-input {
    flex-grow: 5;
    font-size: 1rem;
    color: #202124;
    background-color: #fff;
    border: 0;
    resize: none;
}

.video:hover {
    color: rgb(255, 0, 0);
}

.submit {
    margin-right: 20px;
}