.note-controls>* {
    visibility: hidden;
    cursor: pointer;
}

.note-controls {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.note-pin {
    position: absolute;
    top: 5px;
    right: 5px;
}

.note-bgc {
    position: relative;
}

.note-label {
    position: relative;
}

/* .note-btn {}

.note-trash {}

.note-restore {}

.note-mail {} */