.palette {
    position: absolute;
    bottom:40px;
    z-index: 2;
    display: grid;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid grey;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.color-picker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(156, 156, 156);
    margin: 3px;
}