.pinned-notes::before {
    content: "Pinned";
    position: absolute;
    top: -1rem;
    left: 0;
    font-size: small;
}

.pinned-notes, .unpinned-notes {
    position: relative;
    margin: 10px 0px;
    padding: 10px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 400px));
    grid-gap: 1rem;
}

.unpinned-notes {
    border-top: 1px solid rgba(150, 150, 150, 0.5);
}

.no-notes {
    font-size: 20px;
    text-align: center;
}

.note-card {
    position: relative;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    transition: 0.3s;
}

.note-inner {
    padding: 10px;
    display: flex;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-card:hover {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.30);
}

.note-card:hover .note-controls>*, .note-details:hover .note-controls>* {
    visibility: visible;
}

.note-btn:hover {
    transform: scale(1.1, 1.1);
    color: #8d93ab;
}

.note-title {
    font-size: 1.2rem;
    padding: 5px 10px;
    font-weight: 600;
}

.note-content {
    height: 100%;
    width: 100%;
    padding: 5px;
    white-space: pre-wrap;
}

.iframe {
    max-height: 100%;
    max-width: 100%;
}

.note-img {
    height: 100%;
    width: 100%;
}

@media (max-width: 900px) {
    .pinned-notes, .unpinned-notes {
        grid-template-columns: repeat(2, minmax(150px, 400px));
    }
}

@media (max-width: 460px) {
    .pinned-notes, .unpinned-notes {
        grid-template-columns: minmax(150px, 400px);
    }
    .keep-container {
        display: block;
    }
}