.keep-sidebar {
    position: fixed;
    top: 4rem;
    height: calc(100vh - 4rem);
    background-color: #ffffff;
    font-family: Roboto-medium;
    min-width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid #FAFAFA;
    transition: 0.3s;
}

.label-link:first-child {
    margin-top: 1rem;
}

.label-link {
    padding: 0.55rem;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.label-link:hover {
    background-color: #E9EAED;
    border-radius: 0em 2em 2em 0em;
}

.label-count {
    color: rgb(151, 151, 151);
    font-size: small;
}

.label-icon {
    color: #8d93ab;
}

.trash-icon {
    color: #393b44;
}

@media (max-width: 700px) {
    .keep-sidebar {
        min-width: 3rem;
        transform: translateX(-100%)
    }
    .shown {
        transform: translateX(0)
    }
}