.keep-sidebar {
    background-color: lightgray;
    min-width: 150px;
    padding: 0;
    list-style: none;
}

.label-link:hover {
background-color: rgb(230, 255, 87);
}
.label-link {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.label-count {
    color: rgb(151, 151, 151);
    font-size: small;
}