/* @font-face {
    font-family: Roboto-light;
    src: url(/css/mail/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-medium;
    src: url(/css/mail/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-bold;
    src: url(/css/mail/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-regular;
    src: url(/css/mail/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-black;
    src: url(/css/mail/fonts/Roboto/Roboto-Black.ttf);
} */




body {
    background-color: white;
    font-family: Roboto-regular;
}

a {
    text-decoration: none;
    color: #242424
}

.main-email-section {
    display: flex;
}

/* COMPOSE BTN */

.compose-btn {
    font-size: 1em;

    cursor: pointer;
    outline: none;
    padding: 1em;
    border-radius: 2em;
    width: 70%;
    border: none;
    background-color: #fff;
    box-shadow: 0px 3px 8px -3px rgba(0, 0, 0, 0.7);
    margin: 1rem 0.5rem;
    transition: 250ms;

}

.compose-btn:hover {
    box-shadow: 0px 6px 20px -5px rgba(0, 0, 0, 0.8);
    transition: 250ms;
}

/* SIDEBAR */

.active-side-menu {
    background-color: #E9EAED;
    border-radius: 0em 2em 2em 0em;
    font-family: Roboto-bold;
}

.side-bar-item {
    padding: 0.55rem;
    width: 90%;
}

.side-bar-item:hover {
    background-color: #E9EAED;
    border-radius: 0em 2em 2em 0em;
}


.mail-sidebar-container {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 18rem;
    box-sizing: border-box;
    border-right: 1px solid #fafafa;
}





/* LIST */

.main-body-section {
    width: 100%;
}

.mail-cmp-container {
    width: 100%;

    z-index: -1;
}

.email-item-container {
    width: 100%;
}


.list-item {
    border-bottom: 0.05px solid rgba(221, 221, 221, 0.611);
    display: flex;
    width: 100%;
    height: 100%;

    z-index: 2;
    justify-content: space-between;
    align-items: center;
}

.list-item:hover {
    z-index: 2;

    box-shadow: 0px 3px 13px -5px rgba(0, 0, 0, 0.75);
}

.item-name {
    font-family: Roboto-bold;
    width: 24%;
}

.item-subject {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-subdetails-container {
    display: flex;
    width: 100%;
}

.list-item-details-container {
    width: 100%;
    align-self: flex-start;
}

.list-item-details {
    display: flex;
    height: 100%;
    padding: 0.7rem 0rem;
    /* justify-content: space-between; */
}

/* LIST - CONTROLS */

.list-item:hover>.list-left-controls {
    opacity: 1;

}

.list-item:hover>.list-right-controls {
    opacity: 1;
}

.list-left-controls {
    display: flex;
    align-items: center;
    width: 10rem;
    cursor: pointer;
    opacity: 0.5;
    margin: 0 1em;
}

.check-control {
    margin-right: 1em;
}

.list-right-controls {
    display: flex;
    width: 14rem;
    cursor: pointer;
    opacity: 0;
    align-items: center;
}

.list-right-controls>* {
    margin-left: 0.75rem;
}

.list-right-controls>*:hover {
    color: rgb(90, 90, 90)
}


/* READ */

.is-read {
    background-color: #F4F7F7;
}

.is-read>.list-item-details-container>.list-item-details>* {
    font-family: Roboto-light;
}