/* UPPER CONTROL */

.main-controls-container {
    height: 4rem;
    width: 100%;
    border-bottom: 0.05px solid rgba(221, 221, 221, 1);
}

.main-controls{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: bisque;
    align-items: center;
}

.main-inner-controls{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.main-inner-controls > *{
    height: 80%;
    height: 100%;
    cursor: pointer;
}